@media screen and (max-width: 900px) {
    .contenedorPrincipal__infoFacebook{
        display: flex;
        flex-flow: column nowrap;
        width: 450px;
        justify-content: center;
        height: auto;
        align-items:center;
        margin: 0;
        text-align: center;
    }  
    .contenedorPrincipal__textFacebook{
        font-weight: 200;
        margin-left: 30px;
        font-size: 24px;
        width: 400px;
        }
}